:root{
    --front: rgb(156, 74, 18);
    --back: rgb(211, 236, 141);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--back);
    font-family: 'Times New Roman', Times, serif;
}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--front);
    font-size: 40px;
    font-family: 'Arial Black';
}

header nav a{
    text-decoration: none;
    color: var (--front);
    font-size: 20px;
}